{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="myhead1">{{object.subject}}</h1>
<hr>
<div class="row">
<div class="col-sm-10 offset-sm-1">
    <table class="table table-striped">
        <tr><th>Name</th><td>{{object.name}}</td></tr>
        <tr><th>Course</th><td>{{ object.course }}</td></tr>
        <tr><th>branch</th><td>{{object.branch}}</td></tr>
        <tr><th>Image</th><td><img src="/media/{{object.image}}" alt=""></td></tr>
        <tr><th>Link</th><td><a href="/media/{{object.attachment}}">Download</a></td></tr>
    </table>
</div>
</div>
{% endblock %}
